azure-identity
msrestazure
msgraph-sdk
azure-mgmt-resource
azure-mgmt-resourcehealth
azure-mgmt-containerservice
azure-mgmt-network
azure-mgmt-monitor
azure-mgmt-web
azure-mgmt-storage
azure-storage-blob
azure-mgmt-automation
azure-mgmt-notificationhubs
azure-mgmt-datafactory